<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/admin/dashboard"><fa-icon class="me-1" [icon]="faHome"></fa-icon>Inicio</a>
        <a mat-list-item routerLink="/admin/users"><fa-icon class="me-1" [icon]="faUser"></fa-icon>Usuarios</a>
        <a mat-list-item routerLink="/admin/patients"> <fa-icon class="me-1" [icon]="faHospitalUser"></fa-icon> Pacientes</a>
        <a mat-list-item routerLink="/admin/stock"> <fa-icon class="me-1" [icon]="faCubes"></fa-icon> Stock</a>
        <a mat-list-item routerLink="#"> <fa-icon class="me-1" [icon]="faClipboardList"></fa-icon> Reservas</a>
        <a mat-list-item routerLink="#"> <fa-icon class="me-1" [icon]="faQuestionCircle"></fa-icon> Soporte</a>
        <div class="container-fluid d-flex justify-content-center mt-4">
            <button (click)="logOut()" class="btn btn-danger">Cerrar sesion</button>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <div class="container-img">
            <img src="../../../../assets/img/logo.png" alt="">
          </div>
            <h1>Cesfam automatizado</h1>
          </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
