<div class="fluid-container my-3 pe-4 d-flex justify-content-end">
  <a routerLink="/admin/add-patient" mat-raised-button color="secondary"> <fa-icon [icon]="faPlus"></fa-icon> Agregar paciente</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Rut</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>

        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
