<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Pacientes</h1>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Rut</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let patient of patients">
      <tr>
        <th scope="row">{{patient.rut}}</th>
        <td>{{patient.first_name}} {{patient.second_name}}</td>
        <td>{{patient.last_name}} {{patient.second_last_name}}</td>
        <td>{{patient.email}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

