<div class="fluid-container my-3 ps-4 d-flex justify-contente-start">
  <a mat-raised-button routerLink="/admin/patients"> <fa-icon [icon]="faArrowLeft"></fa-icon> Volver</a>
</div>
<form action="">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Crear paciente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Primer nombre" type="text">
            <mat-error>

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Segundo nombre" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido paterno" type="text">
            <mat-error>

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido materno" type="text">
            <mat-error>

            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Rut" type="text">
            <mat-error>

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" type="text">
            <mat-error>

            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fecha de nacimiento" type="date">
            <mat-error>

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Celular" type="text">
            <mat-error>

            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dirección" type="text">
            <mat-error>

            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
