<div class="fluid-container my-3 ps-4 d-flex justify-contente-start">
  <a mat-raised-button routerLink="/admin/patients"> <fa-icon [icon]="faArrowLeft"></fa-icon> Volver</a>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Crear paciente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Primer nombre" formControlName="first_name" type="text">
            <mat-error *ngIf="form.controls['first_name'].hasError('required')">
              Primer nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Segundo nombre" formControlName="second_name" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido paterno" formControlName="last_name" type="text">
            <mat-error *ngIf=" form.controls['last_name'].hasError('required') ">
              Apellido paterno es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido materno" formControlName="second_last_name" type="text">
            <mat-error *ngIf=" form.controls['second_last_name'].hasError('required') ">
              Apellido materno es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Rut" formControlName="rut" type="text">
            <mat-error *ngIf=" form.controls['rut'].hasError('required') ">
              Rut es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" type="text">
            <mat-error *ngIf=" form.controls['email'].hasError('required') ">
              Email es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fecha de nacimiento" formControlName="birth_date" type="date">
            <mat-error *ngIf=" form.controls['birth_date'].hasError('required') ">
              Fecha de nacimiento es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Celular" formControlName="phone" type="text">
            <mat-error *ngIf=" form.controls['phone'].hasError('required') ">
              Celular es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dirección" formControlName="address" type="text">
            <mat-error *ngIf="form.controls['address'].hasError('required')">
              Dirección es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end me-5 my-2">
      <button [disabled]="!form.valid" mat-raised-button color="primary" type="submit">Crear</button>
    </mat-card-actions>
  </mat-card>
</form>
