<mat-card-content class="dashboard-card-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-end">
                <div class="container-img">
                    <img src="https://www.medicafraga.es/images/medico_cardigologia_jperez.png" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
                <ul>
                    <li>Nombre: Juanito</li>
                    <li>Apellido: Matasanos</li>
                    <li>Rol: Medico</li>
                    <li>Especialidad: mordedura de gatos</li>
                </ul>
            </div>
        </div>
    </div>
</mat-card-content>
