<div class="fluid-container my-3 px-4 d-flex justify-content-between">
  <a routerLink="/admin/stock" mat-raised-button color="secondary"> <fa-icon [icon]="faArrowLeft"></fa-icon> Volver</a>
  <a routerLink="/admin/stock" mat-raised-button color="secondary"> <fa-icon class="me-1" [icon]="faCubes"></fa-icon> Editar stock</a>
</div>
<mat-card *ngIf="medicament" class="shipping-card">
  <mat-card-header><h1>{{medicament.name}} - {{medicament.laboratory_name}}</h1></mat-card-header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3><strong>Información medicamento</strong></h3>
        <p><strong>Nombre: </strong> {{medicament.name}}</p>
        <p><strong>gramaje:</strong> {{medicament.grammage}}</p>
        <p><strong>stock:</strong> {{medicament.stock}}</p>
        <p><strong>Formato de medicamento:</strong> {{medicament.format_medicament}}</p>
        <p><strong>Tipo de medicamento:</strong> {{medicament.type_medicament_id}}</p>
        <p><strong>Nombre de laboratorio:</strong> {{medicament.laboratory_name}}</p>
        <p><strong>Agente principal:</strong> {{medicament.principal_agent}}</p>
        <p><strong>Agente secundario:</strong> {{medicament.secondary_agent}}</p>
        <p><strong>Fecha de caducidad:</strong> {{medicament.caducity_date}}</p>
      </div>
    </div>
  </div>
</mat-card>

