<div class="container pt-2">
</div>
<div class="fluid-container">
  <div class="row mx-2">
    <div class="col-6">
      <h1>Reservas</h1>
    </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Rut paciente</th>
      <th scope="col">Fecha de cita</th>
      <th scope="col">Nombre paciente</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let fullMedicDate of fullMedicDates">
      <tr>
        <th scope="row">{{fullMedicDate.Patient.rut}}</th>
        <td>{{fullMedicDate.MedicDate.medic_date}}</td>
        <td>{{fullMedicDate.Patient.first_name}} {{fullMedicDate.Patient.last_name}}</td>
        <td>
          <a routerLink="/admin/detail-medic-date/{{fullMedicDate.MedicDate.id}}" mat-button color="primary" >Ver más</a>
          <a routerLink="/admin/edit-medic-date/{{fullMedicDate.MedicDate.id}}" mat-button color="primary">Editar</a>
          <button (click)="deleteMedicDate(fullMedicDate.MedicDate.id)" mat-button color="warn" type="button">Eliminar</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
