<div class="container pt-2">
</div>
<div class="fluid-container">
  <div class="row mx-2">
    <div class="col-6">
      <h1>Reservas</h1>
    </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Rut paciente</th>
      <th scope="col">Fecha de cita</th>
      <th scope="col">Nombre paciente</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let medicDate of medicDates">
      <tr>
        <th scope="row">{{medicDate.patient_id}}</th>
        <td>{{medicDate.medic_date}}</td>
        <td>{{medicDate.patient_id}}</td>
        <td>
          <a routerLink="/admin/detail-medic-date/{{medicDate.id}}" mat-button color="primary" >Ver más</a>
          <a routerLink="" mat-button color="primary">Editar</a>
          <button mat-button color="warn" type="button">Eliminar</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
