<div class="fluid-container my-3 pe-4 d-flex justify-content-end">
  <a routerLink="/admin/add-user" mat-raised-button color="secondary"> <fa-icon class="me-1" [icon]="faPlus"></fa-icon> Agregar usuario</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Rut</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Rol</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of users">
      <tr>
        <th scope="row">{{user.rut}}</th>
        <td>{{user.first_name}} {{user.second_name}}</td>
        <td> {{user.last_name}} {{user.second_last_name}}</td>
        <td>{{user.role_id}}</td>
        <td>{{user.specialty_id}}</td>
        <td>
          <a mat-button color="primary" routerLink="/admin/edit-user/{{user.rut}}">Editar</a>
          <button type="button" mat-button color="warn" (click)="deleteUser(user.rut)">Eliminar</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
