<h1 class="ps-2 pt-2">Stock</h1>
<div class="fluid-container my-3 pe-4 d-flex justify-content-end">
  <a routerLink="/admin/add-medicament" mat-raised-button color="secondary"> <fa-icon class="me-1" [icon]="faPlus"></fa-icon> Agregar medicamento</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Gramos</th>
      <th scope="col">Stock</th>
      <th scope="col">Formato</th>
      <th scope="">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr>
        <th scope="row">1</th>
        <th>Ibuprofeno</th>
        <th>400</th>
        <th>27</th>
        <th>Comprimidos</th>
        <th>
          <a mat-button color="primary">Editar</a>
          <button type="button" mat-button color="warn">Eliminar</button>
        </th>
      </tr>
    </ng-container>
  </tbody>
</table>
