<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <mat-card  style="height: 300px;">
        <mat-card-header>
          <mat-card-title>
            <h2>Contáctanos por el siguiente email</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            En casos de encontrar problemas en el uso de la plataforma, por favor, escríbenos para poder brindarte ayuda lo más pronto posible.
          </p>
          <h2>soporte@cesfam.cl</h2>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card style="height: 300px;">
        <mat-card-header>
          <mat-card-title>
            <h2>Contáctanos por el siguiente número telefónico</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            También puedes contactarnos vía telefónica para recibir ayuda en caso de preguntas o problemas que esté presentando la plataforma de Cesfam Automatizado.
          </p>
          <h2>900 800 3000</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
